@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-main {
	@apply bg-highlight text-black p-2.5 rounded-lg m-2 transition-transform ease-in-out duration-300 hover:scale-105;
}
.btn-fade {
	@apply p-1 m-2 transition-transform ease-in-out duration-300 hover:scale-105 text-fade;
}
.hover\:darken:hover {
	filter: brightness(98%);
	-webkit-filter: brightness(98%);
	-ms-filter: brightness(98%);
}
